.contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageCard {
  flex: 0 0 18%;
}

.imageCard__img {
  width: 100%;
}

.imageCard__myLike {
  color: red;
}