.contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imageCard {
  flex: 0 0 33%;
  transition: all 0.5s;
}

.imageCard:hover {
  transform: scale(1.01);
}

.imageCard__img {
  width: 100%;
}